html{
  box-sizing: border-box;
}
*,
*:before,
*:after{
  box-sizing: inherit;
}
/* sets up box sizing for all elements */
html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #aad4cf;
}
.wrapper{
  background-color: #d4e9e7;
  width: 1024px;
  margin: auto;

}
/* base styles above*/

header{
  width: auto;
  margin: 0;
  position: relative;
  text-align: center;
}

header img{
  width: 100%;
}

h1{
  font-size: 4rem;
  color: #FFFFFF;
  line-height: 2em;
  position: absolute;
  bottom: 88px;
  left: 50%;
  transform: translate(-50%);

  font-weight: unset;
}

nav{
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 2em;
  width: 100%;
}

nav li{
  display: inline-block;
  width: 32%;
}
nav a{
  display: inline-block;
  border-right: 1px solid black;
  width: 100%;
}


nav ul li:nth-child(3) a{
  border-right: none;
}


nav a:link,a:visited{
  color: black;
  text-decoration: none;
}
/* link styles */
/* all header styles above */


h2{
  font-size: 2rem;
  line-height: 1.5em;
  margin: 10px;
  font-weight: unset;
}
h3{
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 10px;
  font-weight: unset;
}

article img{
  width: 250px;
  height: 257px;
  float: left;
  margin: 10px;
}

p{
  font-size: 1rem;
  line-height: 1.5em;
  margin: 10px;
}


article ul{
  list-style-type: disc;
  padding: 0.5rem;
  line-height: 1.5rem;
  
  
}
article ul li{
  margin: 0 2rem;
}
/* includes all article list styles */
form{
  line-height: 1rem;
  border: solid black 2px;
  padding: 1rem;
  margin: 10px;
}
fieldset{
  margin: 1rem 0;
}
form input{
  margin: 1rem 0;
  border: 0.25px solid #808080;
  width: 100%;
  height:30px;
}
form textarea{
  margin: 1rem 0;
  border: 0.5px solid #808080;
  width: 100%;
  height:100px;
}
form h3{
  font-size: 1.3rem;
  margin: 1rem 0;
  font-weight: unset;
}
form input[name="visit"]{
  margin: 0.5rem;
  width: auto;
  
}
form button{
  text-transform: uppercase;
  background-color: #d4e9e7;
  padding: 0.5rem;
}
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}
/* includes all form styles */

footer{
  text-align: right;
  text-transform: capitalize;
  padding: 1rem;
  margin: 1rem;
}

