* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:  Arial, sans-serif;
  font-weight: unset;
}
  

  html {
    background-color: #aad4cf;
  }
  
  body {
    background-color: #d4e9e7;
    width: 1024px;
    margin: 0 auto;
  }
  

  h1 {
    font-size: 36px;
  }

  .starfish{
    color: white;
    position: absolute;
    top: 195px;
    width: 100%;
    text-align: center;
    font-size: 56px;
  }

  .star {
    float: left;
    margin: 0 20px 20px 0;
    height: 240px;
    width: 240px;
  }
  
 
  
  article {
    line-height: 1.4;
    font-size: 16px;
  }
  
  
  
 
  
  nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  
  nav > ul > li {
    
    align-items: center;
    padding: 5px 0;
    flex: 1;
    flex-direction: row;
    display: flex;

  }
  
  nav > ul > li:nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
  
  nav > ul > li > a {
    flex: 1;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 25px;
  }
  

  
  section#facts {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  section#facts ul {
    margin-left: 1rem;
    line-height: 1;
  }
  
  section#info {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  
  section#form > form {
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    padding: 25px 15px;
    gap: 15px;
  }
  
  section#form > form .input-gp {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  section#form > form .radio-gp {
    display: flex;
    flex-direction: row;
    gap: 6px;
  }
  
  section#form > form > input[type="submit"] {
    width: fit-content;
    border: solid 1px black;
    padding: 10px;
  }
  
  footer {
    padding: 26px 30px 36px 0;
    margin-bottom: 20px;
  }
  
  footer p#copyright {
    text-align: right;
  }
  

  section#form > form textarea[type="message"],
  section#form > form textarea {
    resize: none;
    height: 100px;
    
  }
  
  .input-gp > p {
    font-size: 24px;
    padding: 16px 0 26px 0;
  }
  
  .opt {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  section#form input[type="submit"] {
    background: none;
    font-size: 10px;
  }
  .container {
    position: relative;
  }

  section {
    padding: 12px 10px;
  }
  h2 {
    margin-top: 10px;
    font-size: 32px;
  }