

/* max width for container=1200px */
.container {
    max-width: 1200px;
    margin: 0 auto;
  }

/* header section */
  header{
 background-color: #222;
 padding: 1rem;
  }



/* navigation */
.navbar{
    background-color: #222;
    color:  #c78c06;
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
   line-height: 2rem;
  
}


.navbar img{
    display: block;
    margin: 2rem 0;
} 

.navbar li a{
    color:#c78c06;
    text-decoration: none;
    
}
.navbar li {    
    list-style: none;
  
}

nav li:hover{
    background-color: #c78c06; 
    
}


form.search input[type=text] {
    padding: 1rem;
    font-size: 1rem;
    float: left;
    width: 80%;
   
}



/* styles the submit button */
form.search button {
    float: left;
    padding: 1rem;
    background: #222;
    color: #c78c06;
    font-size: 1rem;
    border: 1px solid #c78c06;
}

#hero img{
    display: none;
}

/* banner */
#hero {
    background-image: url("/images/main-banner.jpg"); 
    background-position: center; 
    background-size: cover; 
    padding: 100px 0;
    margin: auto;
}

#hero div.container{
    position: relative;
    top: 10%;
    color: white;
    background-color: rgba(34, 34, 34, 0.75);
}

#hero div.container article{
    width: 100%;
    margin: auto;
    padding: 1rem;
}

#hero a{
    display: inline-block;
    background-color:  #c78c06;
    padding: 1rem;
    margin: 1rem 0;
    color: #222;
    font-size: 1.3rem;
    border: solid  #c78c06 1px;
    text-decoration: none;
}
#hero a i{
    padding: 1rem;
}
#about{
    background-color: #ffe6ac;
}
#about div.container{
    padding: 1rem;
}
#about img{
    width: 100%;
}
/* about us section */
#about div.container article{
    padding: 1rem;
}

/* font styles below */

h1{
    font-size:4rem;
    font-weight:700;
  }


body{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}

h2{
    font-size:3rem;
    font-weight:700;
}

h3 {
    font-size:1.8rem;
    font-weight:700;
}


p{
    font-size:1.2rem;
    line-height:1.6rem;
    margin-top:1rem;
}


/* our services  */

#services{
    padding: 2rem 0;
}
    #services div.container article{
        background-color: #ffe6ac;
    }
    
    #services div.container article div{
        padding: 2rem;
    }
    #services div.container article img{
        width: 100%;
    }
    /* button style */
    #services div.container article a{
        display: inline-block;
        font-size: 1.2rem;
        background-color: #222;
        padding: 1rem;
        margin: 1rem 0;
        color: white;      
    }


    /* our vision  */


    #vision img{
        display: none;
    }

    #vision{
        color: white;
        position: relative;
        background-image: url("/images/vision.jpg"); 
        padding: 2rem 0;
        background-position: center; 
        background-size: cover; 
        padding: 2rem;
    }

    #vision a{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 1rem;
        margin: 1rem 0;
        color: white;
        font-size: 1.2rem;
    }

      /* our team  */
    #team{
        padding: 2rem;
    }
    
    #team div.container article{
        background-color: #ffe6ac;
        margin: 1rem 0;
    }

    #team div.container article div{
        padding: 1rem;
    }
    #team div.container article img{
        width: 100%;
    }
    #team div.container article div h4{
        border-bottom: solid 3px  #c78c06;
    }
    

    /* contact us  */
    #contact{
        padding : 1rem;
    }
  
    /* form  */
    #contact form input, textarea{
        display: block;
        width: 100%;
        margin: 1rem 0;
    }
    #contact button{
        color: #c78c06;
        background-color: black;
        font-size: 1.2rem;
        padding: 0.6rem;
    }


/* hours of operation */
#houroperation{
    padding : 2rem 0;
}
#contact table{
    width: 100%;
}
#contact table caption{
    text-align: left;
}
#contact table tr, th, td{
    border: 1px solid #222;
    padding: 1rem;
}
#contact table th{
    background-color: #ffe6ac;
    text-align: center;
}

/* location */

#location {
    padding : 2rem 0;
}

#contact iframe{
    width: 100%;
}


/* footer */
footer{
    background-color: #222;
    color:  #c78c06;
}
footer div.container{
    padding: 1rem;
}

/* desktop version */

@media (min-width: 760px) {
header .logo{
   
    display: flex;
}
.search{
    display: flex;
}
.search input{
    flex: 1;
    padding: 8px 4px;
}

  .navbar ul{
        display: flex;
        justify-content: space-between;
        text-align: center;
    
  }
  .navbar li{
    padding: 24px;
 }
    #about .container{
        display: flex;
      }
    
      #about .aboutus{
        width: 50%;
        height:fit-content;
      }
      #services .container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
      }
      #team .team{
        display: flex;
    }
    #team .team:nth-child(2){
    
        flex-direction: row-reverse;
    }
    #contact .contact01 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
    }
    .contact-form {
        order: 1;
        grid-column: span 2;
      }
 
 

}